body{

font-family:Arial;

padding:40px;

}

input{

padding:10px;

font-size:18px;

width:250px;

}

button{

padding:10px;

margin-left:10px;

cursor:pointer;

}

li{

margin-top:10px;

font-size:20px;

}